colorlog==6.7.0
fairscale==0.4.6
matplotlib==3.5.3
modules==1.0.0
neuralcoref.egg==info
nltk==3.7
numpy==1.21.5
openai==0.28.0
Requests==2.31.0
rouge==1.0.1
scikit_learn==1.0.2
sentencepiece==0.1.99
spacy==2.3.5
tensorflow==2.16.1
torch==1.13.1
tqdm==4.64.1
transformers==4.30.2
typing_extensions==4.10.0
